@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	:root {
		--text-base: 0, 0, 0;
		--primary-base: 0, 0, 0;
		--background-base: 0, 0, 0;
		--text: rgb(var(--text-base));
		--background: rgb(var(--background-base));
		--background-10: rgba(var(--background-base), .1);
		--background-20: rgba(var(--background-base), .2);
		--background-30: rgba(var(--background-base), .3);
		--background-40: rgba(var(--background-base), .4);
		--background-50: rgba(var(--background-base), .5);
		--background-60: rgba(var(--background-base), .6);
		--background-70: rgba(var(--background-base), .7);
		--background-80: rgba(var(--background-base), .8);
		--background-90: rgba(var(--background-base), .9);
		--primary: rgb(var(--primary-base));
		--primary-10: rgba(var(--primary-base), .1);
		--primary-20: rgba(var(--primary-base), .2);
		--primary-30: rgba(var(--primary-base), .3);
		--primary-40: rgba(var(--primary-base), .4);
		--primary-50: rgba(var(--primary-base), .5);
		--primary-60: rgba(var(--primary-base), .6);
		--primary-70: rgba(var(--primary-base), .7);
		--primary-80: rgba(var(--primary-base), .8);
		--primary-90: rgba(var(--primary-base), .9);
	}

	html {
	}

	div#__next {
		@apply max-h-[100vh] overflow-x-hidden z-0 scrollbar scrollbar-track-gray-400/20 scrollbar-thumb-primary/80 scrollbar-thin scrollbar-thumb-rounded-full hover:scrollbar-thumb-primary/60;
		background-color: var(--background);
		scroll-padding-top: 75px;
	}

	section {
		min-height: calc(100vh - 75px);
	}

	section > div.carousel-container {
		height: calc(100vh - 75px - 32px - 1.25rem);
	}

	.hero-btn {
		@apply px-6 py-2 border border-transparent rounded-full uppercase text-lg tracking-widest transition-all;
		color: var(--text);
	}

	.hero-btn:hover {
		color: var(--primary-70);
		border-color: var(--primary-70);
	}

	div.hero-title span:first-child {
		color: var(--primary-60);
	}

	div.hero-title span:last-child {
		color: var(--primary-60);
	}

	.form-field {
		@apply outline-none bg-slate-400/10 border-[#a0aec0]/80 rounded-sm border-b-4 px-6 py-4 text-gray-500 placeholder-gray-500 transition-all;
	}

	.form-field:focus {
		border-color: var(--primary-40);
		color: var(--primary-40);
	}

	textarea {
		resize: none;
	}

	svg.carousel-arrow__left.animate {
		color: var(--primary);
		animation: tilt-right 1s infinite;
	}

	svg.carousel-arrow__right.animate {
		color: var(--primary);
		animation: tilt-right 1s infinite;
	}

	div.carousel-dot.active {
		background-color: var(--primary);
	}
}

.btn {
	font-size: 17px;
	background: transparent;
	border: none;
	padding: 1em 1.5em;
	color: var(--text);
	text-transform: uppercase;
	position: relative;
	transition: .5s ease;
}

.btn::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	height: 2px;
	width: 0;
	background-color: var(--primary);
	transition: .5s ease;
}

.btn:hover {
	color: var(--background);
	transition-delay: .5s;
}

.btn:hover::before {
	width: 100%;
}

.btn::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	height: 0;
	width: 100%;
	background-color: var(--primary);
	transition: .4s ease;
	z-index: -1;
}

.btn:hover::after {
	height: 100%;
	transition-delay: 0.4s;
	color: var(--primary);
}

/**
 Theme Swichter button
 */
.toggleWrapper {
	overflow: hidden;
	color: white;
	scale: 0.65;
}

.toggleWrapper input {
	position: absolute;
	left: -99em;
}

.toggle {
	cursor: pointer;
	display: inline-block;
	position: relative;
	width: 90px;
	height: 50px;
	background-color: #83d8ff;
	border-radius: 84px;
	transition: background-color 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.toggle__handler {
	display: inline-block;
	position: relative;
	z-index: 1;
	top: 3px;
	left: 3px;
	width: 44px;
	height: 44px;
	background-color: #ffcf96;
	border-radius: 50px;
	box-shadow: 0 2px 6px rgba(0, 0, 0, .3);
	transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transform: rotate(-45deg);
}

.toggle__handler .crater {
	position: absolute;
	background-color: #e8cda5;
	opacity: 0;
	transition: opacity 200ms ease-in-out;
	border-radius: 100%;
}

.toggle__handler .crater--1 {
	top: 18px;
	left: 10px;
	width: 4px;
	height: 4px;
}

.toggle__handler .crater--2 {
	top: 28px;
	left: 22px;
	width: 6px;
	height: 6px;
}

.toggle__handler .crater--3 {
	top: 10px;
	left: 25px;
	width: 8px;
	height: 8px;
}

.star {
	position: absolute;
	background-color: #fff;
	transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
	border-radius: 50%;
}

.star--1 {
	top: 10px;
	left: 35px;
	z-index: 0;
	width: 30px;
	height: 3px;
}

.star--2 {
	top: 18px;
	left: 28px;
	z-index: 1;
	width: 30px;
	height: 3px;
}

.star--3 {
	top: 27px;
	left: 40px;
	z-index: 0;
	width: 30px;
	height: 3px;
}

.star--4, .star--5, .star--6 {
	opacity: 0;
	transition: all 300ms 0 cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.star--4 {
	top: 16px;
	left: 11px;
	z-index: 0;
	width: 2px;
	height: 2px;
	transform: translate3d(3px, 0, 0);
}

.star--5 {
	top: 32px;
	left: 17px;
	z-index: 0;
	width: 3px;
	height: 3px;
	transform: translate3d(3px, 0, 0);
}

.star--6 {
	top: 36px;
	left: 28px;
	z-index: 0;
	width: 2px;
	height: 2px;
	transform: translate3d(3px, 0, 0);
}

input:checked + .toggle {
	background-color: #749dd6;
}

input:checked + .toggle:before {
	color: #749ed7;
}

input:checked + .toggle:after {
	color: #fff;
}

input:checked + .toggle .toggle__handler {
	background-color: #ffe5b5;
	transform: translate3d(40px, 0, 0) rotate(0);
}

input:checked + .toggle .toggle__handler .crater {
	opacity: 1;
}

input:checked + .toggle .star--1 {
	width: 2px;
	height: 2px;
}

input:checked + .toggle .star--2 {
	width: 4px;
	height: 4px;
	transform: translate3d(-5px, 0, 0);
}

input:checked + .toggle .star--3 {
	width: 2px;
	height: 2px;
	transform: translate3d(-7px, 0, 0);
}

input:checked + .toggle .star--4, input:checked + .toggle .star--5, input:checked + .toggle .star--6 {
	opacity: 1;
	transform: translate3d(0, 0, 0);
}

input:checked + .toggle .star--4 {
	transition: all 300ms 200ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

input:checked + .toggle .star--5 {
	transition: all 300ms 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

input:checked + .toggle .star--6 {
	transition: all 300ms 400ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
}


/**
 form submit button
 */

button[type='submit'] {
	width: 100%;
	padding: 15px 20px;
	font-size: 16px;
	background: transparent;
	border: none;
	position: relative;
	color: var(--text);
	z-index: 1;
}

button[type='submit']::after,
button[type='submit']::before {
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: -99999;
	transition: all .4s;
}

button[type='submit']::before {
	transform: translate(0%, 0%);
	width: 100%;
	height: 100%;
	background: var(--primary-60);
	border-radius: 10px;
}

button[type='submit']::after {
	transform: translate(10px, 10px);
	width: 35px;
	height: 35px;
	background: #ffffff15;
	backdrop-filter: blur(5px);
	border-radius: 50px;
}

button[type='submit']:hover::before {
	transform: translate(2.5%, 20%);
	width: 105%;
	height: 105%;
}

button[type='submit']:hover::after {
	border-radius: 10px;
	transform: translate(0, 0);
	width: 100%;
	height: 100%;
}

button[type='submit']:active::after {
	transition: 0s;
	transform: translate(0, 5%);
}

.loader {
	width: 48px;
	height: 48px;
	margin: auto;
	position: relative;
}

.loader:before {
	content: '';
	width: 48px;
	height: 5px;
	background: rgba(153, 195, 223, 0.31);
	position: absolute;
	top: 60px;
	left: 0;
	border-radius: 50%;
	animation: loader_shadow 0.5s linear infinite;
}

.loader:after {
	content: '';
	width: 100%;
	height: 100%;
	background: rgb(153, 195, 223);
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 4px;
	animation: loader_jump 0.5s linear infinite;
}

@keyframes loader_jump {
	15% {
		border-bottom-right-radius: 3px;
	}

	25% {
		transform: translateY(9px) rotate(22.5deg);
	}

	50% {
		transform: translateY(18px) scale(1, .9) rotate(45deg);
		border-bottom-right-radius: 40px;
	}

	75% {
		transform: translateY(9px) rotate(67.5deg);
	}

	100% {
		transform: translateY(0) rotate(90deg);
	}
}

@keyframes loader_shadow {

	0%,
	100% {
		transform: scale(1, 1);
	}

	50% {
		transform: scale(1.2, 1);
	}
}

/* keyframes */

@keyframes tilt-right {
	0%, 100% {
		transform: translateX(25%);
		animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
	}
	50% {
		transform: translateY(0);
		animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
	}
}

@keyframes tilt-left {
	0%, 100% {
		transform: translateX(-25%);
		animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
	}
	50% {
		transform: translateY(0);
		animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
	}
}

/* XS */
@media only screen and (min-width: 0px) and (max-width: 599.95px) {
	html {
		font-size: 10px !important;
	}
}

/* SM */
@media only screen and (min-width: 600px) and (max-width: 899.95px) {
	html {
		font-size: 12px !important;
	}
}

/* MD */
@media only screen and (min-width: 900px) and (max-width: 1199.95px) {
	html {
		font-size: 12px !important;
	}
}

/* LG */
@media only screen and (min-width: 1200px) and (max-width: 1535.95px) {
	html {
		font-size: 12px !important;
	}
}

/* XL */
@media only screen and (min-width: 1536px) and (max-width: 2047.95px) {
	html {
		font-size: 16px !important;
	}
}

/* 2k  screens */
@media only screen and (min-width: 2048px) and (max-width: 3839.95px) {
	html {
		font-size: 20px !important;
	}
}

/* 4k and + screens */
@media only screen and (min-width: 3840px) {
	html {
		font-size: 24px !important;
	}
}

@media (min-width: 992px) {
	.rotate-lg-6 {
		transform: rotate(6deg);
	}
}
