@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
	.hero-btn {
		@apply px-6
		py-2
		border
		border-[rgb(46,46,46)]
		rounded-full
		uppercase
		text-xs
		tracking-widest
		text-gray-500
		transition-all
		hover:border-[#F7AB0A]/40
		hover:text-[#F7AB0A]/40
	}

	div.hero-title span:first-child {
		color: #F7AB0A;
		opacity: 0.8;
	}

	div.hero-title span:last-child {
		color: #F7AB0A;
		opacity: 0.8;
	}

	.form-field {
		@apply outline-none
		bg-slate-400/10
		rounded-sm
		border-b-4
		px-6
		py-4
		border-[#242424]
		text-gray-500
		placeholder-gray-500
		transition-all
		focus:border-[#F7AB0A]/40
		focus:text-[#F7AB0A]/40
	}

	textarea {
		resize: none;
	}
}
